@model MentorWeb.Models.Relationship

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Relationship</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.rID)

        <div class="form-group">
            @Html.LabelFor(model => model.mentorID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mentorID)
                @Html.ValidationMessageFor(model => model.mentorID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.menteeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.menteeID)
                @Html.ValidationMessageFor(model => model.menteeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.accepted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.accepted)
                @Html.ValidationMessageFor(model => model.accepted)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
