@model IEnumerable<MentorWeb.Models.Relationship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>@Html.ActionLink("Mentees", "Mentees")</th>
        <th>@Html.ActionLink("Mentors", "Mentors")</th>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mentorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menteeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accepted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mentorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menteeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accepted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rID }) |
            @Html.ActionLink("Details", "Details", new { id=item.rID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rID })
        </td>
    </tr>
}

</table>
