@model MentorWeb.Models.Profile

@{
    ViewBag.Title = "User Profile";
}

<h2>User Profile</h2>

@Html.ActionLink("Edit Profile", "Edit", "Profile") |
@Html.ActionLink("Change Password", "Manage", "Account") |
@Html.ActionLink("Manage Skills", "Index", "Skill")

<table>
    <tr>
        <td><h3>@Html.DisplayNameFor(model => model.FirstName):</h3></td>
        <td><h3>@Html.DisplayFor(modelItem => Model.FirstName)</h3></td>
    </tr>
    <tr>
        <td><h3>@Html.DisplayNameFor(model => model.LastName):</h3></td>
        <td><h3>@Html.DisplayFor(modelItem => Model.LastName)</h3></td>
    </tr>
    <tr>
        <td><h3>@Html.DisplayNameFor(model => model.Bio):</h3></td>
        <td><h3>@Html.DisplayFor(modelItem => Model.Bio)</h3></td>
    </tr>
    <tr>
        <td><h3>@Html.DisplayNameFor(model => model.Gender):</h3></td>
        <td><h3>@Html.DisplayFor(modelItem => Model.Gender)</h3></td>
    </tr>
    <tr>
        <td><h3>@Html.ActionLink("Mentees", "Mentees", "Relationship")</h3></td>
    </tr>
    <tr>
        <td><h3>@Html.ActionLink("Mentors", "Mentors", "Relationship")</h3></td>
    </tr>

</table>